.header{
    display: flex;
    height: 100%;
    width: 100%;
   /* background-image: url(../motorcyclist-fire-as-movie-ghost-rider-fire-man-riding-motorcycle-as-movie-ghost-rider-141021514.jpg); */
    
}
.hero-rider{
    margin-left: 40px;
    margin-top: 10px;
    color: black;
   
   
}
.nav{
    margin-left: 450px;
    margin-top: 40px;
    
}
.nav li{
    display: inline;
    margin-left:60px;
  
 
    

    
}
.nav a{
    text-decoration: none;
  color: black;
    font-weight: bold;
    padding:3px;
  
    
  }